/*--------Fonts--------*/

/*Headings*/
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
/*Body*/
@import url('https://fonts.cdnfonts.com/css/montserrat');


/*Palette*/

.palette {
    color: #FF8D6B;
    /*Coral*/
    color: #EBEAD5;
    /*Egg Shell*/
    color: #931f1d;
    /*Ruby Red*/
    color: #8fa6cb;
    /*Wild Blue Yonder*/
    color: #097e8b;
    /*Metallic Seaweed*/
}


/*---------------General----------------*/

body {
    background-color: #8fa6cb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'shameimaru-sans'sans-serif;
}

p {
    font-family: 'montserrat'sans-serif;
}

/*---------------Nav Bar----------------*/

.manzuko-logo {
    border-radius: 5px;
}

.navbar-brand {
    padding-bottom: 0.5rem
}

.nav-container {
    font-family: 'shameimaru-sans', sans-serif;
    padding-right: 1.5rem;
    height: 15vh;
}

.navbar {
    --bs-navbar-padding-y: 0;
}


.nav-container {
    background-color: #EBEAD5;
}


.nav-link {
    font-weight: 600;
    color: #931f1d;
    margin-left: 2.5rem;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: #931f1d;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.reservations-button {
    background-color: #EBEAD5;
    color: #931f1d;
    border-radius: 0;
    border: 3px solid #931f1d;
    font-weight: 700;
}

.reservations-button:hover {
    background-color: #FF8D6B;
    color: #EBEAD5;
    border-color: #931f1d;
}

.reservations-button:active {
    --bs-btn-active-bg:#931f1d;
    --bs-btn-active-border-color: #097e8b;;
}


/*---------------------Carousel----------------------*/

.carousel-image {
    height: 85vh;
    object-fit: cover;
    margin-top: 15vh;
}

.carousel-indicators [data-bs-target] {
    color: #931f1d;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #097e8b;
    margin: 0px 15px 0px 15px;
}



/*---------------------Restaurant description----------------------*/

.restaurant-description-card{
    margin: 3rem;
    margin-top: 5rem;
    background: #EBEAD5;
    text-align: center;
    border-radius: 0;
    border: 5px solid #FF8D6B;
}

.description-row{
    background: #FF8D6B ;
}

.restaurant-description-hr{
    border: 5px solid #FF8D6B;
    color: #FF8D6B;
}

.two-third-bg{
    background: url(/assets/images/sushi-bg-2.jpeg);
    height: 88vh;
    background-size: cover;
}

.one-third-bg{
    background: url(/assets/images/sushi-bg-4.jpeg);
    height: 88vh;
    background-position-x: 88%;
    background-position-y: 50%;
    background-size: cover;
}

.spacer-row{
    height: 12vh;
    background: white;
}