/*--------Fonts--------*/

/*Headings*/
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
/*Body*/
@import url('https://fonts.cdnfonts.com/css/montserrat');


/*Palette*/

.palette {
    color: #FF8D6B;
    /*Coral*/
    color: #EBEAD5;
    /*Egg Shell*/
    color: #931f1d;
    /*Ruby Red*/
    color: #8fa6cb;
    /*Wild Blue Yonder*/
    color: #097e8b;
    /*Metallic Seaweed*/
}


/*---------------General----------------*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'shameimaru-sans'sans-serif;
    color: #931f1d;
    text-transform: uppercase;
}

p {
    font-family: 'montserrat'sans-serif;
}

.text-center{
    text-align: center;
}

/*---------------Nav Bar----------------*/

.manzuko-logo {
    border-radius: 5px;
}

.navbar-brand {
    padding-bottom: 0.5rem
}

.nav-container {
    font-family: 'shameimaru-sans', sans-serif;
    padding-right: 1.5rem;
}

.navbar {
    --bs-navbar-padding-y: 0;
}


.nav-container {
    background-color: #EBEAD5;
}


.nav-link {
    font-weight: 600;
    color: #931f1d;
    margin-left: 2.5rem;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: #931f1d;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.reservations-button {
    background-color: #EBEAD5;
    color: #931f1d;
    border-radius: 0;
    border: 3px solid #FF8D68;
    font-weight: 700;
}

.reservations-button:hover {
    background-color: #FF8D6B;
    color: #EBEAD5;
    border-color: #931f1d;
}

.reservations-button:active {
    --bs-btn-active-bg: #931f1d;
    --bs-btn-active-border-color: #097e8b;
    ;
}

.navbar-collapse{
    background: #EBEAD5;
}


/*---------------------Carousel----------------------*/

.carousel-image {
    height: 89vh;
    object-fit: cover;
    margin-top: 11vh;
}

.carousel-indicators [data-bs-target] {
    color: #931f1d;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #097e8b;
    margin: 0px 15px 0px 15px;
}



/*---------------------Restaurant description----------------------*/

.restaurant-description-card {
    margin: 3rem;
    margin-top: 5rem;
    background: #EBEAD5;
    text-align: center;
    border-radius: 0;
    border: 5px solid #FF8D6B;
}

.description-row {
    background: #FF8D6B;
}

.restaurant-description-hr {
    border: 3px solid #FF8D6B;
    background: #FF8D68;
}

.two-third-bg {
    background: url(/assets/images/sushi-bg-2.jpeg);
    height: 88vh;
    background-size: cover;
}

.one-third-bg {
    background: url(/assets/images/sushi-bg-4.jpeg);
    height: 88vh;
    background-position-x: 88%;
    background-position-y: 50%;
    background-size: cover;
}


/*---------------------Spacer----------------------*/

.spacer-row {
    height: 12vh;
    background: white;
}

/*---------------------Menus----------------------*/

.lunch-bg-image{
    background: url(/assets/images/Lunch-bg-image.jpeg);
    background-size: cover;
    height: 80vh;
    border: 5px solid #FF8D6B;
    margin: 2vw;
}

.al-la-carte-bg-image{
    background: url(/assets/images/al-la-carte-bg-image.jpeg);
    background-size: cover;
    height: 80vh;
    background-position: 50% 60%;
    border: 5px solid #097e8b;
    margin: 2vw;
}

.drinks-bg-image{
    background: url(/assets/images/drinks-bg-image.jpeg);
    background-size: cover;
    height: 80vh;
    background-position: center center;
    border: 5px solid #931f1d;
    margin: 2vw;
}

.menu-cards{
    margin: 3rem;
    margin-top: 30rem;
    background: #EBEAD5;
    text-align: center;
    border-radius: 0;
    border: 5px solid #FF8D6B;
}

.menu-cards-al-la-carte{
    border: 5px solid #097e8b;
}

.menu-cards-bar{
    border: 5px solid #931f1d;
}

.menu-links{
    text-decoration: none;
    color: #931f1d;
}

/*---------------------Footer----------------------*/

.footer-container{
    height: 30vh;
    background-color: #EBEAD5;
}

.social-icons {
    font-size: 5vh;
    color: #931f1d;
    margin: 5vh;
}

/*---------------------Modal----------------------*/

.modal-header{
    background: #EBEAD5;
}

.modal-footer{
    background: #EBEAD5;
}

.modal-footer > .btn-primary{
    background: #931f1d;
    border: #931f1d;
}

/*-------------------------------Gallery.html----------------------------------------*/

.gallery-image{
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

#gallery-section{
    padding-top: 11vh;
    background: #EBEAD5;
}

/*----------------------------------Contact.html------------------------------------*/

.page-divide-image{
    height: 100vh;
    width: 100%;
    background: url(/assets/images/page-divide.jpeg);
    background-size: cover;
}